body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

header {
  height:65px;
  width: 100%;
  background-color: rgba(250, 235, 215, 0.8);
  position :fixed;
  top: 0;
  z-index: 10;
}

.container {
  max-width: 1170px;
  width:100%;
  margin: auto;
}

.header-left {
  color: black;
  float:left;
  font-size: 25px;
  padding: 15px 0;
}

.fa-solid {
  margin-right: 15px;
}

.header-right {
  float:right;
  font-size: 20px;
}

.header-right a {
  padding:0 20px;
  color:black;
  background-color: rgba(220, 209, 191, 0.6);
  display: block;
  float:left;
  height:65px;
  line-height: 65px;
}

.top-wrapper {
  height:100px;
  padding: 180px 0;
  background-image: url(コンタクトシート-001.jpg);
  background-size: cover;
}
